.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  // height: 48vh;
}

.input {
  width: 500px;
  margin-bottom: 10px;
}

.welcome {
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-button {
  border: none;
  margin-right: 8px;
  padding: 10px;
  width: 100%;
}


.item {
  display: flex;
  width: 400px;
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.signMsg {
  margin-left: 10px;
}