.profile {
  margin: 20px;
  height: 55vh;
}

.button {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.title {
  margin: 10px;
}

.pOrders {
  margin: 10px;
}

.container-card {
  display: flex;
  justify-content: center;
  text-align: center;
}

.profileCard {
  width: 500px;
  margin-top: 20px;
}

.centeredCardWrapper {
  display: flex;
  justify-content: center;
}
