.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}
.container {
  height: auto;
}

.cardContainer {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-sizing: border-box;
  width: 300px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  span {
    margin: 20px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  padding: 5px;
  margin-top: 40px;
  font-size: 1.1rem;
}