.Header {
  background-color: rgba(243, 239, 245);
  text-align: right;
  padding: 10px;
  .link {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    padding: 7px;
    transition: background-color 0.5s ease;
    border-radius: 10px;
  }
  .link:hover {
    background-color: blueviolet;
    padding: 7px;
    border-radius: 10px;
  }
}
