.SubHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px;
  span {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.2rem;
  }
  .logo {
    background-color: white;
    border-radius: 10px;
  }
  nav {
    display: flex;
    font-size: 1.2rem;
    .link {
      margin-right: 20px;
      text-decoration: none;
      color: black;
      background-color: white;
      padding: 7px;
      transition: background-color 0.5s ease;
      border-radius: 10px;
    }
    .link:hover {
      background-color: green;
      padding: 7px;
      border-radius: 10px;
    }
  }
  img {
    width: 4%;
    height: 4%;
  }
}

@media screen and (max-width: 1000px) {
  .SubHeader {
    img {
      width: 12%;
      height: 12%;
    }
  }
}
